#!/usr/bin/make -f
#export DH_VERBOSE = 1


export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export DEB_CXXFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND =
export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DLITEHTML_VERSION=$(DEB_VERSION_UPSTREAM) \
		-DEXTERNAL_GUMBO=ON \
		-DLITEHTML_UTF8=ON \
		-DBUILD_TESTING=OFF
